// Import PanoUI

@import "src/pano-ui/scss/main";
@import "node_modules/tippy.js/dist/tippy";

// Setup Styles

.setup-bg {
  background: url("/assets/img/logo-blue.svg") bottom -16px right -16px;
  background-color: white;
  background-size: 128px;
  background-repeat: no-repeat;
}
