<div id='MainComponent'>
	<link href="/assets/css/main.css" rel="stylesheet">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B"
	 rel="stylesheet">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+"
	 rel="stylesheet">


	<div class="container">
		<div class="row justify-content-center align-items-center bg-muted vh-100">
			<div class="col">
				<div class="dropdown">
					<button class="btn btn-link btn-sm text-muted dropdown-toggle d-block ml-auto" type="button" id="selectLanguage" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
								Türkçe
							</button>
					<div class="dropdown-menu" aria-labelledby="selectLanguage">
						<h6 class="dropdown-header">Dil Seçimi</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Türkçe</a>
						<a class="dropdown-item" href="#">English (US)</a>
					</div>
				</div>
				<router-view></router-view>
			</div>
		</div>
	</div>
</div>