@import "custom-bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts";

// Main styles

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

.setup-bg {
  background: url("../img/logo-blue.svg");
  background-position: right -16px bottom -32px;
  background-repeat: no-repeat;
  background-size: 128px;
}

.nav-tabs .nav-link.active {
  border-bottom: 4px solid $primary;
}

.nav-tabs .nav-link:not(.active):hover {
  border-bottom: 4px solid $gray;
}