@import "../../../../common/css/main.scss";

// Setup Styles

.setup-bg {
  background: url("../assets/img/logo-blue.svg");
  background-position: right -16px bottom -32px;
  background-repeat: no-repeat;
  background-size: 128px;
}