<div>
    <h3 class="text-muted pb-3">Adım - 2/3</h3>

    <p>Pano, farklı Veri Tabanı türlerinde ve farklı olanaklarda çalışaiblir.</p>

    <h5 class="text-muted">Veri Tabanı Bilgileri</h5>

    <div class="pt-3 pb-3">
        <nav class="nav nav-tabs flex-nowrap text-lg-left text-center" id="databaseTabs" role="tablist">
            <a aria-controls="mysql" aria-selected="true" class="nav-link active" data-toggle="tab" href="#mysql"
               id="mysql-tab"
               role="tab">
                <img alt="MySQL" class="rounded" src="/assets/img/mysql.png" width="24">
                MySQL
                /
                <img alt="MariaDB" class="rounded" src="/assets/img/mariadb.png" width="24">
                MariaDB
            </a>
        </nav>
    </div>

    <div class="tab-content">
        <div aria-labelledby="mysql-tab" class="tab-pane fade show active" id="mysql" role="tabpanel">
            <div class="alert alert-primary"><i aria-hidden="true" class="fa fa-info mr-2"></i> Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Vitae iste quam, a nesciunt porro perspiciatis.
            </div>
            <form>
                <div class="form-group">
                    <label for="databaseAddress">Veri Tabanı Adresi:</label>
                    <input class="form-control" id="databaseAddress" placeholder="localhost:80" type="text"
                           v-model="host">
                </div>

                <div class="form-group">
                    <label for="databaseName">Veri Tabanı Adı:</label>
                    <input class="form-control" id="databaseName" placeholder="pano" type="text" v-model="dbName">
                </div>
                <div class="form-group">
                    <label for="databaseUserName">Veri Tabanı Kullanıcı Adı:</label>
                    <input class="form-control" id="databaseUserName" placeholder="admin" type="text"
                           v-model="username">
                </div>

                <div class="form-group">
                    <label for="databaseUserPassword">Veri Tabanı Şifresi:</label>
                    <input class="form-control" id="databaseUserPassword" placeholder="****************" type="password"
                           v-model="password">
                </div>
            </form>
        </div>

        <div aria-labelledby="sqlite-tab" class="tab-pane fade show" id="sqlite" role="tabpanel">
            sqlite
        </div>
    </div>

    <div class="pt-3 d-block m-auto">
        <button :aria-disabled="disableNextButton" :disabled="disableNextButton" @click="next" class="btn btn-primary"
                type="button">
            <i class="fas fa-arrow-alt-circle-right"></i>
            Devam Et
        </button>
        <button @click="back" class="btn btn-outline-primary" type="button">
            <i class="fas fa-arrow-alt-circle-left"></i> Geri
        </button>
    </div>
</div>