@import "custom-bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts.scss";

// Main styles

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1254a1;
  border-radius: 10px;
}

.setup {
	min-width: 600px;
	width: auto;
	height: auto;
}

.setup-bg {
	background: url("../img/logo-blue.svg");
	background-position: right -16px bottom -32px;
	background-repeat: no-repeat;
	background-size: 128px;
}

.nav-tabs .nav-link.active {
	border-bottom: 4px solid #1565c0;
}